{% extends "base.html" %}

{% block title %}Event View{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Map visualization -->
        <div class="col-9 h-100">
            <div id="map" style="width: 100%; height: 100%;">{{ map_html|safe }}</div>
        </div>
        <div class="col-3">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="event">{{ form.event.label }}</label>
                    {{ form.event(size=10, style="overflow-y: scroll; height: 200px;") }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{% endblock %}